@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {

  --color-brand-blue: #002D56;
  --color-brand-bone: #EDE6DC;
}

*{
  font-family: "Inter", sans-serif;
}

/* 002D56 */