@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {

  --color-brand-red: #4e1d23;
  --color-brand-bone: #EDE6DC;
}

*{
  font-family: "Inter", sans-serif;
}